/* navbar for whole site */

/* contact social media whole site */
.fa {
  padding: 30px;
  font-size: 30px !important;
  width: 40px;
  text-align: center;
  text-decoration: none;
  background: #353A70;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

/*contact form whole site */

/* grid size and containers' locations for index page */

/* store logo landing page for index */

/* shop carousel for index */

/* gallery style on index page */

/* customer reviews on index page */

/* about us photo on index page */
